<!-- <!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <title>铁斧CRM安装向导</title>
  <link rel="shortcut icon" href="__STATIC__/icon/favicon.ico">
  <link rel="stylesheet" href="__STATIC__/style/base.css">
  <link rel="stylesheet" href="__STATIC__/style/index.css">
  <script src="__STATIC__/js/jquery-3.3.1.min.js"></script>
</head>
<body>
  <div class="header-wrapper">
	{include file="public/header"}   
  </div>
  <div class="top">
	<div class="agreement-title">铁斧CRM系统开源版使用协议</div>
  </div>

  <div class="container">
	<div class="agreement">
		<p style="text-align:center;font-size:18px;">铁斧CRM开源版使用协议</p>
		<br>
			关于铁斧

       铁斧网是上海铁斧教育科技有限公司推出的互联网智能学习平台。伴随着科技进步，互联网、移动互联网、虚拟现实、人工智能技术的发展，科技必将深度的应用到教学过程和服务过程中，进而不断提升教学效果和服务效率，让学习更有效，更有价值。顺应科技大势，遵循教育规律，借助科技力量、服务职业人士，打造铁斧网智能学习平台。金斧银斧不如咱家铁斧，用真心做教育。

 

铁斧愿景

成为受人尊敬的教育机构

 

铁斧使命

用教育推动社会进步

 

铁斧价值观

务实、合作、创新、成就客户

 

铁斧精神

全力以赴，永不言败
		<br>
	</div>
	<div class="agree-btn">我同意</div>
  </div>
  <div class="footer-wrapper">
	 {include file="public/footer"}
  </div>
</body>
<script>
  $('.agree-btn').click(function () {
	window.location = 'step1.html'
  });
</script>
</html> -->